<!DOCTYPE html>
<html>
<head>
    <title>Author Page</title>
    <link rel="shortcut icon" href="../static/files/garuda.png">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link type="text/css" rel="stylesheet" href="../static/css/general.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="../static/css/materialize.min.css"  media="screen,projection"/>
    <script type="text/javascript" src="../static/js/jquery-3.0.0.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="../static/css/font-awesome.min.css">

    <script>
        $(document).ready(function(){
            $('.button-collapse').sideNav({
                menuWidth: 300,
                edge: 'left',
                closeOnClick: true,
                draggable: true,
            });
        });
    </script>

</head>
<body>

    <div class="row">

        <div class="col s12" id="head_box">
            <div class="col s2">
                <a href="../"><img src="../static/files/garuda_logo.png" width="70%" style="float : left; margin-left : 20px;"></a>
            </div>
            <div class="col s6">

                <div class="col s3">
                    <div class="drop" style="padding-top : 20px;">
                      <span class="title_head">BOOKS</span>
                      <div class="drop_down">
                        <a href="../new_releases">New Releases</a>
                        <a href="../upcoming_books">Upcoming Books</a>
                        <a href="../competitive_exam_books">For Competitive Exams</a>
                        <a href="../all_books">All Collections</a>
                      </div>
                    </div>
                </div>

                <div class="col s3">
                    <div class="drop" style="padding-top : 20px;">
                      <span class="title_head">PEOPLE</span>
                      <div class="drop_down">
                          <a href="../our_authors/">Authors</a>
                          <a href="../our_team/">Our Team</a>
                          <a href="../our_partners/">Partners</a>
                          <a href="../advisors_and_benefactors/">Advisors &#38; Benefactors</a>
                      </div>
                    </div>
                </div>

                <div class="col s3">
                    <div class="drop" style="padding-top : 20px;">
                      <span class="title_head">JOIN US</span>
                      <div class="drop_down">
                        <a href="https://www.facebook.com/garudaprakashan/" target="_blank"><i class="fa fa-facebook" aria-hidden="true" style="margin-right : 10px;"></i>Facebook</a>
                        <a href="https://twitter.com/GarudaPrakashan" target="_blank"><i class="fa fa-twitter" aria-hidden="true" style="margin-right : 10px;"></i>Twitter</a>
                        <a href="https://www.instagram.com/garudaprakshan/" target="_blank"><i class="fa fa-instagram" aria-hidden="true" style="margin-right : 10px;"></i>Instagram</a>
                        <a href="https://www.youtube.com/channel/UCjN9nsZbBfxl-68SFwkZRSw" target="_blank"><i class="fa fa-youtube" aria-hidden="true" style="margin-right : 10px;"></i>YouTube</a>
                        <a href="https://in.pinterest.com/garudaprakashan/" target="_blank"><i class="fa fa-pinterest-p" aria-hidden="true" style="margin-right : 10px;"></i>Pinterest</a>
                        <a href="../newsletter"><i class="fa fa-newspaper-o" aria-hidden="true" style="margin-right : 10px;"></i>News Letter</a>
                      </div>
                    </div>
                </div>

                <div class="col s3">
                    <div class="drop" style="padding-top : 20px;">
                      <span class="title_head">OPPORTUNITIES</span>
                      <div class="drop_down">
                          <a href="../get_published">Get Published</a>
                          <a href="../career_with_us">Career with Us</a>
                          <a href="../join_as_affiliate">Join as an Affiliate</a>
                          <a href="../join_as_distributor">Join as a Distributor</a>
                      </div>
                    </div>
                </div>

            </div>

            <!-- </div>
            <div class="col s3 offset-s1">
                <div class="col s4">
                    <span  class="head_opt">Login</span>
                </div>
                <div class="col s4">
                    <span  class="head_opt">Signup</span>
                </div>
                <div class="col s4">
                    <span  class="head_opt"><i class="material-icons left">add_shopping_cart</i></span>
                </div>
            </div> -->

        </div>

        <div class="col s12" id="head_menu" style="margin-top : 30px; margin-bottom : 20px;">

            <div class="col s3">

                <ul id="slide-out" class="side-nav">
                    <li class="no-padding">
                        <ul class="collapsible collapsible-accordion">
                            <li>
                                <a class="collapsible-header" id="menu_header">BOOKS<i class="material-icons">arrow_drop_down</i></a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li><a href="../new_releases" id="menu_option">New Releases</a></li>
                                        <li><a href="../upcoming_books" id="menu_option">Upcoming Books</a></li>
                                        <li><a href="../competitive_exam_books" id="menu_option">For Competitive Exams</a></li>
                                        <li><a href="../all_books" id="menu_option">All Collections</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a class="collapsible-header" id="menu_header">PEOPLE<i class="material-icons">arrow_drop_down</i></a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li><a href="../our_authors/" id="menu_option">Authors</a></li>
                                        <li><a href="../our_team/" id="menu_option">Our Team</a></li>
                                        <li><a href="../our_partners/" id="menu_option">Partners</a></li>
                                        <li><a href="../advisors_and_benefactors/" id="menu_option">Advisors &#38; Benefactors</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a class="collapsible-header" id="menu_header">JOIN US<i class="material-icons">arrow_drop_down</i></a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li><a href="https://www.facebook.com/garudaprakashan/" target="_blank" id="menu_option"><i class="fa fa-facebook" aria-hidden="true" style="margin-right : 10px;"></i>Facebook</a></li>
                                        <li><a href="https://twitter.com/GarudaPrakashan" target="_blank" id="menu_option"><i class="fa fa-twitter" aria-hidden="true" style="margin-right : 10px;"></i>Twitter</a></li>
                                        <li><a href="https://www.instagram.com/garudaprakshan/" target="_blank" id="menu_option"><i class="fa fa-instagram" aria-hidden="true" style="margin-right : 10px;"></i>Instagram</a></li>
                                        <li><a href="https://www.youtube.com/channel/UCjN9nsZbBfxl-68SFwkZRSw" target="_blank" id="menu_option"><i class="fa fa-youtube" aria-hidden="true" style="margin-right : 10px;"></i>YouTube</a></li>
                                        <li><a href="https://in.pinterest.com/garudaprakashan/" target="_blank" id="menu_option"><i class="fa fa-pinterest-p" aria-hidden="true" style="margin-right : 10px;"></i>Pinterest</a></li>
                                        <li><a href="../newsletter" id="menu_option"><i class="fa fa-newspaper-o" aria-hidden="true" style="margin-right : 10px;"></i>News Letter</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a class="collapsible-header" id="menu_header">OPPORTUNITIES<i class="material-icons">arrow_drop_down</i></a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li><a href="../get_published" id="menu_option">Get Published</a></li>
                                        <li><a href="../career_with_us" id="menu_option">Career with Us</a></li>
                                        <li><a href="../join_as_affiliate" id="menu_option">Join as an Affiliate</a></li>
                                        <li><a href="../join_as_distributor" id="menu_option">Join as a Distributor</a></li>

                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>

                <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons" id="menu_button">menu</i></a>
            </div>

            <div class="col s4 offset-s1">
                <a href="/"><img src="../static/files/garuda_logo.png" width="100px;" style="float : left; margin-left : 20px;"></a>
            </div>

        </div>

        <div class="col s12">
            <div class="col l8 offset-l2 m10 offset-m1 s12 input-field" style="margin-top : 0px;">
                <form>
                    <i class="material-icons prefix" style="color : #78909c;">search</i>
                    <input id="icon_prefix" type="text" class="validate">
                    <label for="icon_prefix" style="font-size : 20px; color : rgba(0,0,0,0.1)">Book Name/ Author Name/ ISBN</label>
                </form>
            </div>
        </div>

    </div>

    <div class="row" id="author_details">

        <script type="text/javascript">
            var str = window.location.href;
            var x1 = str.split("/");
            var x2 = x1[x1.length-1];
            var x3 = x2.split("=");
            var x4 = x3[1].split("%20");
            var name = []
            for(i = 0; i< x4.length; i++){
                name += x4[i] + " ";
            }
            name = name.substring(0, name.length - 1);
            console.log(name);

            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            var csrftoken = getCookie('csrftoken');
            $.ajax({
                url : 'http://127.0.0.1:8000/author_code/',
                type : "POST",
                data : {
                    csrfmiddlewaretoken : csrftoken,
                    name : name,
                },
                success : function(json){
                    var html = [
                        '<div class="col s12" style="margin-top : 30px;">',
                            '<div class="col l10 offset-l1 m12 s12">',
                                '<div class="col l3 m4 s8 offset-s2">',
                                    '<img src="'+ json["url"] +'" class="author_img">',
                                    '<a class="waves-effect waves-light btn" style="margin : 0px; width : 100%; background-color: #ff8a65;">Follow +</a>',
                                    '<p style="text-align : center;">',
                    ].join("\n")

                    if(json["facebook_link"]){
                        html += ['<a href="'+ json["facebook_link"] +'" class="social_author" style="color : #01579b;" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>',].join("\n");
                    }
                    if(json["twitter_link"]){
                        html += ['<a href="'+ json["twitter_link"] +'" class="social_author" style="color : #29b6f6;" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>',].join("\n");
                    }
                    if(json["instagram_link"]){
                        html += ['<a href="'+ json["instagram_link"] +'" class="social_author" style="color : #01579b;" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>',].join("\n");
                    }
                    if(json["google_plus_link"]){
                        html += ['<a href="'+ json["google_plus_link"] +'" class="social_author" style="color : #ff7043;" target="_blank"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a>',].join("\n");
                    }
                    html += [
                        '</p>',
                        '</div>',
                        '<div class="col l9 m8 s12" style="padding-left : 20px;">',
                        '<h1 class="author_name">'+ json["name"] +'</h1>',
                        '<p class="website_text">'+ json["introduction"] +'</p>',
                        '</div>',
                        '</div>',
                        '</div>',
                    ].join("\n");
                    if(json["youtube_video"]){
                        html += [
                            '<div class="col s12" style="margin-top : 30px;">',
                                '<div class="col s10 offset-s1">',
                                    '<h1 class="author_update">Author Updates</h1>',
                                    '<div class="col s12">',
                                        '<div class="col s4 offset-s4">',
                                            '<hr class="author_line">',
                                        '</div>',
                                    '</div>',
                                    '<div class="col s8 offset-s2">',
                                        '<iframe width="100%" height="315" src="'+ json["youtube_video"] +'" frameborder="0" allowfullscreen id="author_video"></iframe>',
                                    '</div>',
                                '</div>',
                            '</div>',
                        ].join("\n");
                    }

                    if(json["author_books"]){
                        html += [
                            '<div class="col s12" style="margin-top : 30px; margin-bottom : 30px;">',
                                '<div class="col s10 offset-s1">',
                                    '<h1 class="author_update">Books By Author</h1>',
                                    '<div class="col s12">',
                                        '<div class="col s4 offset-s4">',
                                            '<hr class="author_line">',
                                        '</div>',
                                    '</div>',
                                    '<div class="col s12" style="margin-top : 50px;">',
                        ].join("\n");

                        author_books = json["author_books"];
                        var num = Object.keys(author_books).length;
                        for(k = 0; k<num; k++){
                            html += [
                                '<div class="col l3 offset-l1 m4 s6">',
                                    '<a href="http://127.0.0.1:8000/book/?name='+ author_books[k]["name"] +'"><img src="'+ author_books[k]["url"] +'" id="books"></a>',
                                    '<a href="http://127.0.0.1:8000/book/?name='+ author_books[k]["name"] +'"><h2 class="books_author">'+ author_books[k]["name"] +'</h2></a>',
                                '</div>',
                            ].join("\n");
                            if(k==2){
                                k += num;
                            }
                        }

                        html += [
                            '</div>',
                            '</div>',
                            '</div>',
                        ].join("\n");
                    }

                    if(json["recommendation"]){
                        html += [
                            '<div class="col s12" style="margin-top : 30px; margin-bottom : 30px;">',
                                '<div class="col s10 offset-s1">',
                                    '<h1 class="author_update">Recommendation by Garuda</h1>',
                                    '<div class="col s12">',
                                        '<div class="col s4 offset-s4">',
                                            '<hr class="author_line">',
                                        '</div>',
                                    '</div>',
                                    '<div class="col s12" style="margin-top : 50px;">',
                        ].join("\n");

                        recommendation = json["recommendation"];
                        var num = Object.keys(recommendation).length;
                        for(k = 0; k<num; k++){
                            html += [
                                '<div class="col l3 offset-l1 m4 s6">',
                                    '<a href="http://127.0.0.1:8000/book/?name='+ recommendation[k]["name"] +'"><img src="'+ recommendation[k]["url"] +'" id="books"></a>',
                                    '<a href="http://127.0.0.1:8000/book/?name='+ recommendation[k]["name"] +'"><h2 class="books_author">'+ recommendation[k]["name"] +'</h2></a>',
                                '</div>',
                            ].join("\n");
                            if(k==2){
                                k += num;
                            }
                        }

                        html += [
                            '</div>',
                            '</div>',
                            '</div>',
                        ].join("\n");
                    }



                    $("#author_details").append(html);
                },
                error : function(xhr,errmsg,err) {
                    console.log(xhr.status + ": " + xhr.responseText);
                }
            });
        </script>

    </div>

    <div class="sticky-container">
        <ul class="sticky">
            <a href="https://www.facebook.com/garudaprakashan/" target="_blank"><li><img src="../static/files/social_icons/facebook.png" width="32" height="32"></li></a>
            <a href="https://twitter.com/GarudaPrakashan" target="_blank"><li><img src="../static/files/social_icons/twitter.png" width="32" height="32"></li></a>
            <a href="https://www.instagram.com/garudaprakshan/" target="_blank"><li><img src="../static/files/social_icons/instagram.png" width="32" height="32"></li></a>
            <a href="https://www.youtube.com/channel/UCjN9nsZbBfxl-68SFwkZRSw" target="_blank"><li><img src="../static/files/social_icons/youtube.png" width="32" height="32"></li></a>
            <a href="https://in.pinterest.com/garudaprakashan/" target="_blank"><li><img src="../static/files/social_icons/pinterest.png" width="32" height="32"></li></a>
            <a href="mailto:someone@example.com?Subject=Your%20message" target="_blank"><li><img src="../static/files/social_icons/mail.png" width="32" height="32"></li></a>
        </ul>
    </div>

    <div class="row">
        <div class="col s12">
            <div class="col s6 offset-s3">
                <hr class="footer_line">
            </div>
        </div>
        <div class="col s12" style="padding-left : 30px; padding-right : 30px;">

            <div class="col m3 s12">
                <h1 class="footer_name">Garuda Prakashan</h1>
                <p class="footer_rights">All rights reserved &#64; Garuda Prakashan</p>
            </div>

            <div class="col m3 s6">
                <h1 class="footer_useful">Get to Know Us</h1>
                <a class="links" href="../about_us/">About Us</a><br>
                <a class="links" href="../message_us/">Message Us</a><br>
                <a class="links" href="">Terms and Conditions</a><br>
                <a class="links" href="">Privacy Policy</a>
            </div>
            <div class="col m3 s6">
                <h1 class="footer_contact">Contact Us</h1>
                <p class="address">K-107, South City-I</p>
                <p class="address">Gurugram, Haryana,</p>
                <p class="address">Bharat</p>
                <p class="address">adm&#64;garudabooks.com</p>
            </div>
            <div class="col m3 s12" id="garuda_news">
                <h1 class="footer_headline">Garuda News</h1>
                <p class="news" id="news"></p>
            </div>
        </div>

    </div>

    <script type="text/javascript">
        $.ajax({
            type : "GET",
            url : "http://127.0.0.1:8000/news_feed_code/",
            success : function(json){
                $("#news").append(json["news"]);
            },
            error : function(xhr,errmsg,err) {
                console.log(xhr.status + ": " + xhr.responseText);
            }
        });
    </script>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="../static/js/materialize.min.js"></script>

</body>
</html>
