<!DOCTYPE html>
<html>
<head>
    <title>Join as an Affiliate</title>
    <link rel="shortcut icon" href="../static/files/garuda.png">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link type="text/css" rel="stylesheet" href="../static/css/general.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="../static/css/materialize.min.css"  media="screen,projection"/>
    <script type="text/javascript" src="../static/js/jquery-3.0.0.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="../static/css/font-awesome.min.css">

    <script>
        $(document).ready(function(){
            $('.button-collapse').sideNav({
                menuWidth: 300,
                edge: 'left',
                closeOnClick: true,
                draggable: true,
            });
        });
    </script>

</head>
<body>

    <div class="row">

        <div class="col s12" id="head_box">
            <div class="col s2">
                <a href="../"><img src="../static/files/garuda_logo.png" width="70%" style="float : left; margin-left : 20px;"></a>
            </div>
            <div class="col s6">

                <div class="col s3">
                    <div class="drop" style="padding-top : 20px;">
                      <span class="title_head">BOOKS</span>
                      <div class="drop_down">
                        <a href="../new_releases">New Releases</a>
                        <a href="../upcoming_books">Upcoming Books</a>
                        <a href="../competitive_exam_books">For Competitive Exams</a>
                        <a href="../all_books">All Collections</a>
                      </div>
                    </div>
                </div>

                <div class="col s3">
                    <div class="drop" style="padding-top : 20px;">
                      <span class="title_head">PEOPLE</span>
                      <div class="drop_down">
                          <a href="../our_authors/">Authors</a>
                          <a href="../our_team/">Our Team</a>
                          <a href="../our_partners/">Partners</a>
                          <a href="../advisors_and_benefactors/">Advisors &#38; Benefactors</a>
                      </div>
                    </div>
                </div>

                <div class="col s3">
                    <div class="drop" style="padding-top : 20px;">
                      <span class="title_head">JOIN US</span>
                      <div class="drop_down">
                        <a href="https://www.facebook.com/garudaprakashan/" target="_blank"><i class="fa fa-facebook" aria-hidden="true" style="margin-right : 10px;"></i>Facebook</a>
                        <a href="https://twitter.com/GarudaPrakashan" target="_blank"><i class="fa fa-twitter" aria-hidden="true" style="margin-right : 10px;"></i>Twitter</a>
                        <a href="https://www.instagram.com/garudaprakshan/" target="_blank"><i class="fa fa-instagram" aria-hidden="true" style="margin-right : 10px;"></i>Instagram</a>
                        <a href="https://www.youtube.com/channel/UCjN9nsZbBfxl-68SFwkZRSw" target="_blank"><i class="fa fa-youtube" aria-hidden="true" style="margin-right : 10px;"></i>YouTube</a>
                        <a href="https://in.pinterest.com/garudaprakashan/" target="_blank"><i class="fa fa-pinterest-p" aria-hidden="true" style="margin-right : 10px;"></i>Pinterest</a>
                        <a href="../newsletter"><i class="fa fa-newspaper-o" aria-hidden="true" style="margin-right : 10px;"></i>News Letter</a>
                      </div>
                    </div>
                </div>

                <div class="col s3">
                    <div class="drop" style="padding-top : 20px;">
                      <span class="title_head">OPPORTUNITIES</span>
                      <div class="drop_down">
                          <a href="../get_published">Get Published</a>
                          <a href="../career_with_us">Career with Us</a>
                          <a href="../join_as_affiliate">Join as an Affiliate</a>
                          <a href="../join_as_distributor">Join as a Distributor</a>
                      </div>
                    </div>
                </div>

            </div>

            <!-- </div>
            <div class="col s3 offset-s1">
                <div class="col s4">
                    <span  class="head_opt">Login</span>
                </div>
                <div class="col s4">
                    <span  class="head_opt">Signup</span>
                </div>
                <div class="col s4">
                    <span  class="head_opt"><i class="material-icons left">add_shopping_cart</i></span>
                </div>
            </div> -->

        </div>

        <div class="col s12" id="head_menu" style="margin-top : 30px; margin-bottom : 20px;">

            <div class="col s3">

                <ul id="slide-out" class="side-nav">
                    <li class="no-padding">
                        <ul class="collapsible collapsible-accordion">
                            <li>
                                <a class="collapsible-header" id="menu_header">BOOKS<i class="material-icons">arrow_drop_down</i></a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li><a href="../new_releases" id="menu_option">New Releases</a></li>
                                        <li><a href="../upcoming_books" id="menu_option">Upcoming Books</a></li>
                                        <li><a href="../competitive_exam_books" id="menu_option">For Competitive Exams</a></li>
                                        <li><a href="../all_books" id="menu_option">All Collections</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a class="collapsible-header" id="menu_header">PEOPLE<i class="material-icons">arrow_drop_down</i></a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li><a href="../our_authors/" id="menu_option">Authors</a></li>
                                        <li><a href="../our_team/" id="menu_option">Our Team</a></li>
                                        <li><a href="../our_partners/" id="menu_option">Partners</a></li>
                                        <li><a href="../advisors_and_benefactors/" id="menu_option">Advisors &#38; Benefactors</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a class="collapsible-header" id="menu_header">JOIN US<i class="material-icons">arrow_drop_down</i></a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li><a href="https://www.facebook.com/garudaprakashan/" target="_blank" id="menu_option"><i class="fa fa-facebook" aria-hidden="true" style="margin-right : 10px;"></i>Facebook</a></li>
                                        <li><a href="https://twitter.com/GarudaPrakashan" target="_blank" id="menu_option"><i class="fa fa-twitter" aria-hidden="true" style="margin-right : 10px;"></i>Twitter</a></li>
                                        <li><a href="https://www.instagram.com/garudaprakshan/" target="_blank" id="menu_option"><i class="fa fa-instagram" aria-hidden="true" style="margin-right : 10px;"></i>Instagram</a></li>
                                        <li><a href="https://www.youtube.com/channel/UCjN9nsZbBfxl-68SFwkZRSw" target="_blank" id="menu_option"><i class="fa fa-youtube" aria-hidden="true" style="margin-right : 10px;"></i>YouTube</a></li>
                                        <li><a href="https://in.pinterest.com/garudaprakashan/" target="_blank" id="menu_option"><i class="fa fa-pinterest-p" aria-hidden="true" style="margin-right : 10px;"></i>Pinterest</a></li>
                                        <li><a href="../newsletter" id="menu_option"><i class="fa fa-newspaper-o" aria-hidden="true" style="margin-right : 10px;"></i>News Letter</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a class="collapsible-header" id="menu_header">OPPORTUNITIES<i class="material-icons">arrow_drop_down</i></a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li><a href="../get_published" id="menu_option">Get Published</a></li>
                                        <li><a href="../career_with_us" id="menu_option">Career with Us</a></li>
                                        <li><a href="../join_as_affiliate" id="menu_option">Join as an Affiliate</a></li>
                                        <li><a href="../join_as_distributor" id="menu_option">Join as a Distributor</a></li>

                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>

                <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons" id="menu_button">menu</i></a>
            </div>

            <div class="col s4 offset-s1">
                <a href="/"><img src="../static/files/garuda_logo.png" width="100px;" style="float : left; margin-left : 20px;"></a>
            </div>

        </div>

        <div class="col s12">
            <div class="col l8 offset-l2 m10 offset-m1 s12 input-field" style="margin-top : 0px;">
                <form>
                    <i class="material-icons prefix" style="color : #78909c;">search</i>
                    <input id="icon_prefix" type="text" class="validate">
                    <label for="icon_prefix" style="font-size : 20px; color : rgba(0,0,0,0.1)">Book Name/ Author Name/ ISBN</label>
                </form>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col s12" style="margin-top : 30px;">
            <div class="col s10 offset-s1">
                <h1 class="main_topics">Join as an Affiliate</h1>
                <div class="col s12">
                    <div class="col s4 offset-s4">
                        <hr class="author_line">
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12">
            <div class="col l8 offset-l2 s10 offset-s1">
                <p class="website_text">Here’s offering you the chance to join us and start making money right away! It’s fast, it’s easy and it’s FREE!</p>
                <p class="website_text">Why join us as an affiliate?</p>
                <p class="website_text">Garuda Prakashan offers a platform which is widely recognized locally and internationally. You’ll be allied with a global brand that aims at making a statement worldwide.</p>
                <p class="website_text">1. Competitive commissions</p>
                <p class="website_text">2. Regular promotions and sales</p>
                <p class="website_text">3. Regular creative updates</p>
                <p class="website_text">4. A unique publishing venture</p>
            </div>
        </div>
        <div class="col s12" style="margin-top : 30px;">
            <div class="col l8 offset-l2 s12">
                <form method="post" name="contact_form">

                    <div class="input-field" style="padding: 0px 30px; margin-bottom: 0px; margin-top: 20px;">
                        <i class="material-icons prefix" id="form_icon">account_circle</i>
                        <input id="icon_prefix" type="text" class="validate" name="username" placeholder="Enter your name" style="color: rgb(0,0,0);">
                    </div>

                    <div id="empty_username" style="text-align : center">
                    </div>

                    <div class="input-field" style="padding: 0px 30px; margin-bottom: 0px; margin-top: 0px;">
                        <i class="material-icons prefix" id="form_icon">mail</i>
                        <input id="icon_prefix" type="text" class="validate" name="email" placeholder="Enter your email">
                    </div>

                    <div id="empty_email" style="text-align : center">
                    </div>

                    <div class="input-field" style="padding: 0px 30px; margin-bottom: 0px; margin-top: 0px;">
                        <i class="material-icons prefix">phone</i>
                        <input id="icon_prefix" type="text" class="validate" name="mobile" placeholder="mobile number">
                    </div>

                    <div id = "empty_mobile" style="text-align : center;">
                    </div>

                    <div class="input-field" style="padding: 0px 30px; margin-bottom: 0px; margin-top: 0px;">
                        <i class="material-icons prefix" id="form_icon">mode_edit</i>
                        <textarea id="icon_prefix2" class="materialize-textarea" name="message" placeholder="Enter your message here!!"></textarea>
                    </div>

                    <div id="empty_message" style="text-align : center">
                    </div>

                    <div style="text-align: center; margin-top : 30px;">
                        <button class="btn waves-effect waves-light" type="submit" style="padding: 0px 10px; margin: 0px; text-align: center; background-color: #ff8a65;" id="submit">
                            Submit<i class="material-icons right">send</i>
                        </button>
                    </div>

                </form>

                <script type="text/javascript">
                    $('#submit').click(function(e){
                        e.preventDefault();
                        var x1 = 0;
                        var x2 = 0;
                        var x3 = 0;
                        var x4 = 0;
                        var username = document.forms["contact_form"]["username"].value;
                        if(username.length < 6){
                            if(username == ""){
                                $("#empty_username").empty();
                                $("#empty_username").append("Please fill your username");
                            }
                            else{
                                $("#empty_username").empty();
                                $("#empty_username").append("Username must be atleast 6 characters");
                            }
                        }
                        else{
                            $("#empty_username").empty();
                            user = username.toLowerCase();
                            x1 = 1;
                        }

                        var email = document.forms["contact_form"]["email"].value;
                        var atpos = email.indexOf("@");
                        var dotpos = email.lastIndexOf(".");
                        if(email == ""){
                            $("#empty_email").empty();
                            $("#empty_email").append("Please fill your email id");
                        }
                        else if(atpos < 1 || dotpos < atpos + 2 || dotpos + 2 >= email.length){
                            $("#empty_email").empty();
                            $("#empty_email").append("Please enter valid email id");
                        }
                        else{
                            $("#empty_email").empty();
                            x2 = 1;
                        }

                        var mobile = document.forms["contact_form"]["mobile"].value;
                        if(mobile == ""){
                            $("#empty_mobile").empty();
                            $("#empty_mobile").append("Please fill your mobile number");
                        }
                        else if(mobile.length < 10 || isNaN(mobile)){
                            $("#empty_mobile").empty();
                            $("#empty_mobile").append("Please enter valid mobile number");
                        }
                        else{
                            $("#empty_mobile").empty();
                            x3 = 1;
                        }

                        var message = document.forms["contact_form"]["message"].value;
                        if(message == ""){
                            $("#empty_message").empty();
                            $("#empty_message").append("Your message is still empty!!");
                        }
                        else{
                            $("#empty_message").empty();
                            x4 = 1;
                        }

                        if(x1 == 1 && x2 == 1 && x3 == 1 && x4 == 1){
                            function getCookie(name) {
                                var cookieValue = null;
                                if (document.cookie && document.cookie != '') {
                                    var cookies = document.cookie.split(';');
                                    for (var i = 0; i < cookies.length; i++) {
                                        var cookie = jQuery.trim(cookies[i]);
                                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                            break;
                                        }
                                    }
                                }
                                return cookieValue;
                            }
                            var csrftoken = getCookie('csrftoken');
                            $.ajax({
                                url :  'http://127.0.0.1:8000/join_as_affiliate_code/',
                                type : "POST",
                                data : {
                                    csrfmiddlewaretoken : csrftoken,
                                    user : user,
                                    email : email,
                                    message : message,
                                    mobile : mobile,
                                },
                                success : function(json) {
                                    console.log(json);
                                    alert(json["message"]);
                                    location.reload();
                                },
                                error : function(xhr,errmsg,err) {
                                    console.log(xhr.status + ": " + xhr.responseText);
                                }
                            });
                        }
                    });
                </script>
            </div>
        </div>
    </div>

    <div class="sticky-container">
        <ul class="sticky">
            <a href="https://www.facebook.com/garudaprakashan/" target="_blank"><li><img src="../static/files/social_icons/facebook.png" width="32" height="32"></li></a>
            <a href="https://twitter.com/GarudaPrakashan" target="_blank"><li><img src="../static/files/social_icons/twitter.png" width="32" height="32"></li></a>
            <a href="https://www.instagram.com/garudaprakshan/" target="_blank"><li><img src="../static/files/social_icons/instagram.png" width="32" height="32"></li></a>
            <a href="https://www.youtube.com/channel/UCjN9nsZbBfxl-68SFwkZRSw" target="_blank"><li><img src="../static/files/social_icons/youtube.png" width="32" height="32"></li></a>
            <a href="https://in.pinterest.com/garudaprakashan/" target="_blank"><li><img src="../static/files/social_icons/pinterest.png" width="32" height="32"></li></a>
            <a href="mailto:someone@example.com?Subject=Your%20message" target="_blank"><li><img src="../static/files/social_icons/mail.png" width="32" height="32"></li></a>
        </ul>
    </div>

    <div class="row">
        <div class="col s12">
            <div class="col s6 offset-s3">
                <hr class="footer_line">
            </div>
        </div>
        <div class="col s12" style="padding-left : 30px; padding-right : 30px;">

            <div class="col m3 s12">
                <h1 class="footer_name">Garuda Prakashan</h1>
                <p class="footer_rights">All rights reserved &#64; Garuda Prakashan</p>
            </div>

            <div class="col m3 s6">
                <h1 class="footer_useful">Get to Know Us</h1>
                <a class="links" href="../about_us/">About Us</a><br>
                <a class="links" href="../message_us/">Message Us</a><br>
                <a class="links" href="">Terms and Conditions</a><br>
                <a class="links" href="">Privacy Policy</a>
            </div>
            <div class="col m3 s6">
                <h1 class="footer_contact">Contact Us</h1>
                <p class="address">K-107, South City-I</p>
                <p class="address">Gurugram, Haryana,</p>
                <p class="address">Bharat</p>
                <p class="address">adm&#64;garudabooks.com</p>
            </div>
            <div class="col m3 s12" id="garuda_news">
                <h1 class="footer_headline">Garuda News</h1>
                <p class="news" id="news"></p>
            </div>
        </div>

    </div>

    <script type="text/javascript">
        $.ajax({
            type : "GET",
            url : "http://127.0.0.1:8000/news_feed_code/",
            success : function(json){
                $("#news").append(json["news"]);
            },
            error : function(xhr,errmsg,err) {
                console.log(xhr.status + ": " + xhr.responseText);
            }
        });
    </script>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="../static/js/materialize.min.js"></script>
</body>
</html>
